body {
font-family: "Helvetica", "Arial", sans-serif;
color: white;
background image: url("black.jpg");
background-repeat: repeat-x;
width: 650px;
margin:0px auto;
margin-top: 110px;
line-height: 1.8;
text-shadow: #16171b 0 1px 1px;
-webkit-font-smoothing: antialiased;
}

#iphone {
margin-top: -50px;
margin-left: -10px;
width: 250px;
height: 617px;
float: left;
background-image: url("iphone.jpeg");
}

#right {
width: 400px;
float: right;
}

img {
border: none;
}

h1 {
font-size: 16px;
margin-top: 15px;
margin-bottom: 20px;
}

#downloads {
text-align: center;
margin-top: 30px;
margin-right: 35px;
}

#header {
height: 80px;
background-image: url("icon.jpeg");
background-repeat: no-repeat;
}

hr {
margin-top: 8px;
margin-bottom: 15px;
border: none;
background-color: #1d232c;
height: 1.5px;
border-bottom: 1px solid #4d5663;
}

#content {
font-size: 14px;
margin-top: -20px;
font-size: 13px;
}